cache:
  paths:
  - node_modules/

stages:
  - deploy

dev_deploy:
  stage: deploy
  only:
   - test
  script:
   - yarn
   - npm run rcbuild
   - rm -rf /usr/local/wechat-app
   - "rsync -a out/. /usr/local/wechat-app"

master_deploy:
  stage: deploy
  only: 
   - master
  script:
   - yarn
   - npm run build
   - rm -rf /data/wechat-app
   - "rsync -a out/. /data/wechat-app"